/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Raleway", sans-serif;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
header {
  font-family: "Jockey One", sans-serif;
  background-color: black;
  position: relative;
  padding: 15px;
}
header h1,
header h2 {
  position: absolute;
  left: 15px;
}
header h1 {
  bottom: 26px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  font-size: 36px;
}
header h2 {
  bottom: 11px;
  color: #fff;
  font-size: 16px;
}

.logo {
  height: 48px;
}

.content {
  padding: 25px;
  text-align: justify;
}
h3 {
  padding: 20px 0;
}

footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15dvh;
  color: #fff;
  font-family: "Jockey One", sans-serif;
}
.description {
  padding: 5px 0;
}

.login-box {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 12px;
  margin-top: 25px;
}

.login-box label {
  font-size: 14px;
  font-weight: 600;
  color: #222;
}

.login-box input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  border-radius: 12px;
  background: var(
    --Recessed,
    linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),
    rgba(208, 208, 208, 0.5)
  );
  background-blend-mode: luminosity, color-burn;
  box-shadow:
    0 -0.5px 1px 0 rgba(255, 255, 255, 0.3) inset,
    0 -0.5px 1px 0 rgba(255, 255, 255, 0.25) inset,
    1px 1.5px 4px 0 rgba(0, 0, 0, 0.08) inset,
    1px 1.5px 4px 0 rgba(0, 0, 0, 0.1) inset;
}

.forgot {
  font-size: 12px;
  color: black;
  align-self: flex-end;
  margin-top: -5px;
}

.login-btn {
  margin-top: 10px;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.signup {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.signup a {
  color: black;
}

.terms {
  padding: 20px 0;
  font-size: 14px;
}

.terms a {
  color: black;
}

.successcontent {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.successcontent h1 {
  color: black;
  font-family: "Jockey One", sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  font-size: 36px;
}

.checkcircle {
  max-width: 30px;
}
